#background {
  background-color: #f7b42c;
  background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);  
}

#signin-card {
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 50px );
  -webkit-backdrop-filter: blur( 50px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  width: "30ch";
  padding: "10px";
  margin: 20px 10px;
}


#buckets-card{
  background: rgba( 255, 255, 255, 0.6 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 50px );
  -webkit-backdrop-filter: blur( 50px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border-radius: 10px;
  margin: 20px 10px;
}

#navbar{
  background: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
}

#sortbar{
  background: rgba( 255, 255, 255, 0.6 );
  box-shadow: 0 3px 3px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 50px );
  -webkit-backdrop-filter: blur( 50px );
  border-radius: 0 0 10px 10px;
}

#card-title{
  border-radius: 0 0 10px 10px;
  background: rgb(233,233,233);
  background: linear-gradient(321deg, rgba(233,233,233,1) 0%, rgba(222,222,222,1) 100%);
}

